## Breast Cancer Detection

Importing the libraries

In [1]:
import pandas as pd

In [17]:
breast_cancer_dataset = pd.read_csv('breast_cancer.csv') #importing the dataset

In [46]:
breast_cancer_dataset.tail()

,Sample code number,Clump Thickness,Uniformity of Cell Size,Uniformity of Cell Shape,Marginal Adhesion,Single Epithelial Cell Size,Bare Nuclei,Bland Chromatin,Normal Nucleoli,Mitoses,Class
678,776715,3,1,1,1,3,2,1,1,1,2
679,841769,2,1,1,1,2,1,1,1,1,2
680,888820,5,10,10,3,7,3,8,10,2,4
681,897471,4,8,6,4,3,4,10,6,1,4
682,897471,4,8,8,5,4,5,10,4,1,4

In [28]:
X,Y = breast_cancer_dataset.iloc[:, 1:-1].values , breast_cancer_dataset.iloc[:,-1].values

In [29]:
from sklearn.model_selection import train_test_split  #Splitting the dataset into training and test sets

In [40]:
x_train,x_test,y_train,y_test = train_test_split(X,Y,test_size = 0.2,random_state = 0)   #random_state sets the seed

### Training the logistic regression model on the train set

In [41]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(random_state = 0)
classifier.fit(x_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=0, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [42]:
prediction = classifier.predict(x_test)

In [47]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test,prediction)
cm

array([[84,  3],
       [ 3, 47]], dtype=int64)

In [48]:
accuracy = 131/137*100
print (accuracy)

95.62043795620438

Conclusion: There are a total of 84 TP and 3 FP ,3 FN and 47 TN
Our model did quite well in making a total of 131 correct predictions out of 137.(accuracy of 95%)

### K -fold Cross validation

In [51]:
from sklearn.model_selection import cross_val_score
acc = cross_val_score(estimator = classifier,X = x_train,y = y_train,cv = 10)

In [57]:
print ('Accuracy is {:.2f}%'.format(acc.mean()*100))
print ('Std deviation is {:.2f}%'.format(acc.std()*100))

Accuracy is 96.70%
Std deviation is 1.97%